<html lang="en">
<head>
    <title>OpenTracks Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='/site.webmanifest') }}">

    <style>
        #mapid {
            height: 75%;
        }
        .sidebar {
            will-change: transform;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
</head>

<body>
    <div id="mapid"></div>

    <div id="chart" style="height: 25%; width: 100%;"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    <script>
        let map = L.map('mapid').setView([52.47262, 13.47684], 13);
        let baseLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    maxZoom: 19,
                                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        const trackLine = (track) => [{
            "type": "Feature",
            "properties": {
                "name": track.name
            },
            "geometry": {
                "type": "LineString",
                "coordinates": track.coordinates
            }
        }];

        const trackStyle = color => ({
            color: color,
            weight: 5,
            opacity: 1
        });

        const trackInformation = (track) => (`
            <b>${track.name}</b><br />
            distance: ${track.distance}<br />
            duration: ${track.duration}<br />
            avg speed: ${track.avg_speed}<br />
            avg heart rate: ${track.avg_heart_rate}
        `);


        var layers = {};

        var activeTrack = null;

        function showGraph(name) {
            var width = $("#chart").width();
            var height = $("#chart").height();

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "https://map.klincov.com/meta/?name=" + name + "&width=" + width + "&height=" + height, false);
            xmlHttp.send(null);
            var response = xmlHttp.responseText;
            $("#chart").html(response);
        }

        function highlightTrack(name) {
            for (let layer in layers) {
                if(!map.hasLayer(layers[layer])) {
                    map.addLayer(layers[layer]);
                } else {
                    if (name == layer) {
                    } else {
                        map.removeLayer(layers[layer]);
                    }
                }
            }
        }

        function createTrack(name, track) {
            var trackJson = L.geoJSON(trackLine(track), {
                style: trackStyle(track.color)
            })
            .bindTooltip(trackInformation(track), {sticky: true})
            .on('click', function(){ 
                highlightTrack(track.name);

                if (activeTrack) {
                    activeTrack = null;
                } else {
                    activeTrack = track.name;
                    showGraph(track.name);
                }
            });

            map.addLayer(trackJson);
            layers[track.name] = trackJson;
        }

        function loadTracks() {
            var request = new XMLHttpRequest();
            request.responseType = 'json';
            request.onreadystatechange = function() {
                if(request.readyState === 4) {
                    var jsonResponse = request.response;
                    $.each(jsonResponse, function(name, track) {
                        createTrack(name, track);
                    });
                }
            }
            request.open('GET', 'https://map.klincov.com/tracks', true);
            request.send(null);
        }

        loadTracks();
 
    </script>
</body>
</html>